html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  width: 100%;
  font-family: "Georgia", serif;
  line-height: 1.7em;
  font-size: 1.1em;
}
#content-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#leftside {
    display: flex;
    padding: 10%;
    justify-content: center;
    align-items: center;
}

#rightside {
    clip-path: polygon(100% 0%, 100% 100%, 0 100%, 10% 0);
    background-image: url("images/new_me.jpg");
    background-size: cover;
    background-position: center;
}



#logo > img {
    width: 10em;
    margin-bottom: 3em;
}


ul.row_links {
    margin: 0;
    padding: 0;
    padding-top: 1em;
    line-height: 2em;
}

ul.row_links > li {
    display: inline-block; 
    padding-right: 1em;
}
ul.row_links > li::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5ch;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: currentColor;
}
@media only screen and (max-width: 960px) {
  /* For mobile phones: */
    #rightside {
        display:none;
    }
    #content-wrapper {
      min-height: 100%;
      display: grid;
      grid-template-columns: 100% 0%;
    }   
    #logo {
        text-align: center;
    }
    #logo > img {
        width: 40%;
        margin-bottom: 1em;
        max-width: 10em;
    }
    html, body {
        font-size: 1em;
    }
}
