html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  width: 100%;
  font-family: "Georgia", serif;
  line-height: 1.7em;
  font-size: 1.1em;
}
#content-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#leftside {
    display: flex;
    padding: 5em;
    justify-content: center;
    align-items: center;
}

#logo > img {
    width: 10em;
    margin-bottom: 3em;
}


ul.row_links {
    margin: 0;
    padding: 0;
    padding-top: 1em;
}

ul.row_links > li {
    display: inline list-item; 
    padding-right: 1em;
}
